<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <xacro:arg name="name" default="ur"/>
  <xacro:arg name="ur_type" default="ur5"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>

  <link name="world"/>

  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <ros2_control name="$(arg name)" type="system">
    <hardware>
      <plugin>ur_robot_driver_cb2/URPositionHardwareInterface</plugin>
      <param name="robot_ip">$(arg robot_ip)</param>
      <param name="tf_prefix"></param>
      <param name="reverse_port">50001</param>
    </hardware>
    <joint name="$(arg prefix)shoulder_pan_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="$(arg prefix)shoulder_lift_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="$(arg prefix)elbow_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="$(arg prefix)wrist_1_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="$(arg prefix)wrist_2_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="$(arg prefix)wrist_3_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
</robot>
